body {
	overflow-x: hidden;
}
header {
	margin-top: 20px;
}
header nav.navbar-default {
	background: none;
	border: none;
}
nav .navbar-brand {
	font-size: 20px;
	font-weight: bold;
}
.nav li a {
	font-size: 16px;
}
.item{
    background: #333;    
    text-align: center;
    height: 400px;
}
.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: #5cb85c;
    width: 0%;
    margin: 5px auto 0;
    border: none;
    z-index: 11;
    position: relative;
}
.banner img {
	width: 100%;
}